<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Inicio'}) %>


<main class="container">
    <form  action="/products/carga" method="post" enctype="multipart/form-data" class="product mt-3 form-ingresar-prod" novalidate>
        <h2 class="c-acc m-3 pt-3">Crear producto</h2>
        <h5 class="acc-subs pt-3">Datos del Producto</h5>
        
        <div class="form-row flex-row ">
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-input" name= "nombre" id="nombre" placeholder="Nombre del producto" required>
            </div>
            
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="marca">Marca</label>
                <select name="marca" class="form-input" id="marcas">
                    <% for (let i=0; i<brands.length ; i++) { %>
                        <option><%= brands[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        
        
        <div class="form-row flex-row ">
            <!-- <div class="col-6 col-md-6 col-lg-3 mb-6">
                <label for="moneda">Moneda</label>
                <label class="sr-only" for="inlineFormCustomSelect"></label>
                <select class="custom-select" id="inlineFormCustomSelect">
                    <option selected>Moneda</option>
                    <option value="pesos">(ARG) $</option>
                    <option value="dolares">(USA) U$S</option>
                </select>
            </div> -->
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="precio">Precio</label>
                <input type="number" name="precio" class="form-input" id="precio" placeholder="Precio unitario" required>
            </div>
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="descuento">Descuento </label>
                <select name="descuento" class="form-input" id="descuentos">
                    <% for (let i=0; i<discounts.length ; i++) { %>
                        <option><%= discounts[i].level*100 %></option>
                    <% } %>
                </select>
            </div>
        </div>
        
        
        <div class="form-row flex-column">
            <div class="col-12 col-md-12 mb-6">
                <!-- <label for="descripcion">Descripcion</label> -->
                <textarea name="descripcion" id="descripcion" class="form-input" cols="30" rows="10"
                placeholder="Escriba una breve descripción"></textarea>
            </div>
            <div class="col-md-6 mb-6">
                <label for="categoria"></label>
                <select name="categoria" class="form-input" id="categoria">
                    <% for (let i=0; i<categories.length ; i++) { %>
                        <option><%= categories[i].name %></option>
                    <% } %>
                </select>
            </div>
            <div class="col-md-6 mb-6">
                <label for="cantidad"></label>
                <input type="number" name="cantidad" class="form-input" id="cantidad" placeholder="Cantidad a ingresar" required>
                </select>
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-12">
                <h5 class="mt-3">Cargar imagenes</h5> 
            </div>

               <div class="col-12">    
                <div class="custom-file ">
                    <input type="file" class="custom-file-input" name="archivo" id="archivo" lang="es">
                    <label class="custom-file-label" for="archivo">Seleccionar Archivo</label>
                </div>
            </div>   
        </div>
        
        <div class="form-row">
            
            <!-- <div class="col-xs-12 col-md-6 mb-2">
                
                <div class="custom-file">
                    <input id="archivo"type="file"name="archivo"class="file">
                    <label class="custom-file-label" for="archivo">Seleccionar Archivo</label>
                </div>
            </div>     -->
            
            
            
         
            <!-- <div class="col-xs-12 col-md-6 mb-2">
                
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>
            </div>     -->
            <!-- <div class="col-xs-12 col-md-6 mb-2">    
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>
            </div>  -->
            
        </div>    
        
        
        <!-- <div class="form-row"> 
            <div class="col-12 col-md-6 mb-6">
                <h5 class="mt-3">Confirmar contraseña</h5>
                <input type="password" class="form-control"     id="validationCustom03" placeholder="Contraseña"    required>
            </div>
        </div>     -->
        
        
        
        
    </div>
    
    <div class="button-container-submit">
        <button class="btn btn-bunker mb-5 mt-5" type="submit">Crear Producto</button>
    </div>
</form>

</main>



<%- include('partials/footer') %>

</body>	
</html>


