<!DOCTYPE html>
<html lang="es">
<%- include(`partials/head`, {title: `Inicio`}) %>
<main class="container">
    <form  action="/products/carga" method="post" enctype="multipart/form-data" class="product mt-3 form-ingresar-prod" novalidate>
        <h2 class="c-acc m-3 pt-3">Crear producto</h2>
        <h5 class="acc-subs pt-3">Datos del Producto</h5>
        <div class="form-row flex-row ">
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-input" name= "nombre" id="nombre" placeholder="Nombre del producto" required>
            </div>
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="marca">Marca</label>
                <select name="marca" class="form-input" id="marcas">
                    <% for (let i=0; i<brands.length ; i++) { %>
                        <option value="<%= brands[i].id %>"><%= brands[i].name %></option>
                        <% } %>
                </select>
            </div>
        </div>
        <div class="form-row flex-row ">
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="precio">Precio</label>
                <input type="number" name="precio" class="form-input" id="precio" placeholder="Precio unitario" required>
            </div>
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="descuento">Descuento </label>
                <select name="descuento" class="form-input" id="descuentos">
                    <% for (let i=0; i<discounts.length ; i++) { %>
                        <option value="<%= discounts[i].id %>"><%= discounts[i].level*100 %> %</option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-row flex-column">
            <div class="col-12 col-md-12 mb-6">
                <textarea name="descripcion" id="descripcion" class="form-input" cols="30" rows="10" placeholder="Escriba una breve descripción"></textarea>
            </div>
            <div class="col-md-6 mb-6">
                <label for="categoria"></label>
                <select name="categoria" class="form-input" id="categoria">
                    <% for (let i=0; i<categories.length ; i++) { %>
                        <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                        <% } %>
                </select>
            </div>
            <div class="col-md-6 mb-6">
                <label for="cantidad"></label>
                    <input type="number" name="cantidad" class="form-input" id="cantidad" placeholder="Cantidad a ingresar" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <h5 class="mt-3">Cargar imagenes</h5> 
            </div>
            <div class="col-12">    
                <div class="custom-file ">
                    <input type="file" class="custom-file-input" name="archivo" id="archivo" lang="es">
                    <label class="custom-file-label" for="archivo">Seleccionar Archivo</label>
                </div>
            </div>   
        </div>
        <div class="alert alert-success" role="alert" style="display: none;" id="">Información enviada</div>
        <div class="button-container-submit">
            <button class="btn btn-bunker mb-5 mt-5" type="submit">Crear Producto</button>
        </div>
    </form>
</main>
<%- include(`partials/footer`) %>
</body>
</html>


