<!DOCTYPE html>
<html lang="es">
<%- include(`partials/head`, {title: `Inicio`}) %>
<main class="container">




        <div class="container">
                <div aria-label="breadcrumb rounded-0 ">
                        <ol class="breadcrumb pl-0 bg-white">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="/users/login">Perfil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Editar</li>
                        </ol>
                    </div>
        </div>
    <% if (errors != undefined) { %>
        <% for (let i = 0; i < errors.length; i++) { %>
            <div class="alert alert-danger" role="alert">
            <%=errors[i].msg%>
            </div>
        <% } %>
    <% } %>
    <form  action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="post" class="product mt-3 form-ingresar-prod" id="formProd" novalidate>
        <h2 class="c-acc m-3 pt-3">Editar producto</h2>
        <h5 class="acc-subs pt-3">Datos del Producto</h5>
        <div class="form-row flex-row d-flex justify-content-around">
            <div class="col-12 col-md-3 mb-6 div-form-carga">
                <label for="name">Nombre</label>
                <input type="text" class="form-control form-input" name= "name" id="name" value="<%= productToEdit.name %>" required>
            </div>
            <div class="col-12 col-md-3 mb-6 div-form-carga">
                <label for="brand_id">Marca</label>
                <select name="brand_id" class="form-control form-input bsf-select" id="brand_id">
                    <% for (let i=0; i<brands.length ; i++) { %>
                        <option value="<%= brands[i].id %>"><%= brands[i].name %></option>
                        <% } %>
                </select>
            </div>
        </div>
        <div class="form-row flex-row d-flex justify-content-around">
            <div class="col-12 col-md-3 mb-6">
                <label for="price">Precio</label>
                <input type="number"  min="0" name="price" step="0.1" class="form-control form-input" id="price" value="<%= productToEdit.price %>" required>
            </div>
            <div class="col-12 col-md-3 mb-6 div-form-carga">
                <label for="discount_id">Descuento </label>
                <select name="discount_id" class="form-control form-input bsf-select" id="discount_id">
                    <% for (let i=0; i<discounts.length ; i++) { %>
                        <option value="<%= discounts[i].id %>"><%= discounts[i].level*100 %> %</option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-row flex-column">
            <div class="col-12 col-md-12 mb-6 d-flex justify-content-around">
                <textarea name="description" id="description" class="form-control form-input bsf-textArea" cols="30" rows="10" value="<%= productToEdit.description %>" "><%= productToEdit.description %></textarea>
            </div>
        </div>
        <div class="form-row flex-row d-flex justify-content-around">
            <div class="col-12 col-md-3 mb-6">
                <label for="category_id">Categoría </label>
                <select name="category_id" class="form-control form-input bsf-select" id="category_id">
                    <% for (let i=0; i<categories.length ; i++) { %>
                        <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                        <% } %>
                </select>
            </div>
            <div class="col-12 col-md-3 mb-6">
                <label for="stock">Cantidad</label>
                <input type="number"  min="0" name="stock" class="form-control form-input" id="stock" value="<%= productToEdit.stock %>" required>
            </div>
        </div>
        <div class="alert alert-success" role="alert" style="display: none;" id="">Información enviada</div>
        <div class="button-container-submit">
            <button class="btn btn-bunker mb-5 mt-5" type="submit" id="butenv">Cargar Fotos</button>

        </div>
    </form>
    <script src="../../scripts/validEditProd.js"></script>
    <!-- <script src="../scripts/validCargaProd.js"></script> -->
</main>
<%- include(`partials/footer`) %>
</body>
</html>