<!DOCTYPE html>
<html lang="es">
<%- include(`partials/head`, {title: `Inicio`}) %>
<main class="container">
    <form  action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data" class="product mt-3 form-ingresar-prod" id="formProd" novalidate>
        <h2 class="c-acc m-3 pt-3">Editar producto</h2>
        <h5 class="acc-subs pt-3">Datos del Producto</h5>
        <div class="form-row flex-row ">
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="name">Nombre</label>
                <input type="text" class="form-control form-input" name= "name" id="name" value="<%= productToEdit.name %>" required>
            </div>
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="brand">Marca</label>
                <select name="brand" class="form-input" id="brand">
                    <% for (let i=0; i<brands.length ; i++) { %>
                        <option value="<%= brands[i].id %>"><%= brands[i].name %></option>
                        <% } %>
                </select>
            </div>
        </div>
        <div class="form-row flex-row ">
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="price">Precio</label>
                <input type="number" name="price"  min="0" step=".1" class="form-control form-input" id="price" value="<%= productToEdit.price %>" required>
            </div>
            <div class="col-12 col-md-6 mb-6 div-form-carga">
                <label for="discount_id">Descuento </label>
                <select name="discount_id" class="form-input" id="discount_id">
                    <% for (let i=0; i<discounts.length ; i++) { %>
                        <option value="<%= discounts[i].id %>"><%= discounts[i].level*100 %> %</option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-row flex-column">
            <div class="col-12 col-md-12 mb-6">
                <textarea name="description" id="description" class="form-control form-input" cols="30" rows="10" value="<%= productToEdit.description %>" placeholder="<%= productToEdit.description %>"></textarea>
            </div>
            <div class="col-md-6 mb-6">
                <label for="categor_idy"></label>
                <select name="category_id" class="form-input" id="category_id">
                    <% for (let i=0; i<categories.length ; i++) { %>
                        <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                        <% } %>
                </select>
            </div>
            <div class="col-md-6 mb-6">
                <label for="stock"></label>
                    <input type="number" name="stock" min="0"  class="form-control form-input" id="stock" value="<%= productToEdit.stock %>" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <h5 class="mt-3">Cargar imagenes</h5> 
            </div>
            <div class="col-12">    
                <div class="custom-file ">
                    <input type="file" class="custom-file-input" name="archivo" id="archivo" lang="es" accept="image/*">
                    <label class="custom-file-label" for="archivo">Seleccionar Archivo</label>
                </div>
            </div>   
        </div>
        <div class="alert alert-success" role="alert" style="display: none;" id="">Información enviada</div>
        <div class="button-container-submit">
            <button class="btn btn-bunker mb-5 mt-5" id="butenv" type="submit">Editar Producto</button>
        </div>
    </form>
    <script src="../../scripts/validEditProd.js"></script>
</main>
<%- include(`partials/footer`) %>
</body>
</html>