<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Inicio'}) %>


<main class="container container-user">
    
    <div class="container">
        <div aria-label="breadcrumb rounded-0 breadcrumb-user">
            <ol class="breadcrumb pl-0 bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Favoritos</a></li>
                
            </ol>
        </div>
    </div>
    

    <section class="container container-favs-table table-responsive-sm">
        <table class="table favs-table">
            <thead>
                <h1 class="mb-4">Mis Favoritos</h1>
            </thead>
            <tbody class="list-favs" id="list-favs">
                   
                        <% data.forEach(dat=> { %>
                            <!-- <a href="/products/<%=dat.id%>">   -->
                               
                            <tr class="tr-fav" >
                                    
                                    <td style= "width: 15%"><img src="../images/productos/<%= dat.image1 %>"></td>
                                 
                                    <td ><a href="/products/<%=dat.id%>"><p><%= dat.name %></p><p>$<%= dat.price %></p></a></td>
                                    <!-- <td><%= dat.brand %></td> -->

                                    <!-- <td> $ <%= dat.price %></td> -->
                                    

                                    <!-- <td><%= dat.description %></td> -->
                                    
                                   
                                    <td class="td-fav" ><a id="fav-comprar" class="btn" type="submit"><i class="fas fa-shopping-cart"></i></a><a href= "../api/products/favs/<%= dat.id %>" value="<%= dat.id %>" class="btn fav-quitar" onClick="delete_row(this)" >Quitar</a></td>
                                  
                               
                                  </tr>
                                </a>
                       <% }) %>


                   
                         
                        

            </tbody>
        </table>
    </section>
    
    <script src="../../scripts/favsDelete.js"></script>

    <script>function delete_row(e)
            {
                e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
            }</script>


</main>






<%- include('partials/footer') %>

</body>
</html>


